* {
    font-family: 'Fira Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

aside {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 15%;
}

.player-container,
.computer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #DEDFE1;
    border: 3px double #05204A;
    border-radius: 10px;
    color: #05204A;
    margin-top: 200px;
    height: 300px;
    text-align: center;
    font-size: 1.1em;
}

.player-container {
    margin-left: 5px;
    margin-right: 10px;
}

.computer-container {
    margin-left: 10px;
    margin-right: 5px;
}

.player-figure,
.computer-figure {
    height: 150px;
    width: 150px;
}

.player-score,
.computer-score {
    font-size: 1.8em;
    margin: auto;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50%;
}

.change-game {
    font-size: 1.1em;
    padding: 8%;
    margin-right: 5px;
    color: #05204A;
    background-color: #DEDFE1;
    border: 6px double #05204A;
    border-radius: 10px;
}

.change-game:hover {
    cursor: pointer;
    background-color: #E8E9EB;
}

.change-game:active {
    background-color: #D3D4D6;
}

.title-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 4.5em;
    text-align: center;
    margin: 60px;
    color: #F3F6F4;
    text-shadow: 
    -2px -1px 0 #092b61,
    -3px -2px 0 #05204A,
    -4px -3px 0 #05204A,
    -5px -4px 0 #05204A,
    -6px -5px 0 #05204A
}

.result {
    font-size: 2.1em;
    font-weight: 100;
    margin: auto;
    color: #F3F6F4;
    border: 4px dotted #000046;
    padding-top: 5px;
    padding-left: 50px;
    padding-bottom: 5px;
    padding-right: 50px;
    border-radius: 25px;
    text-align: center;
}

.main-wrapper { 
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 65px;
    align-items: center;
    height: 100vh;
}

.intro {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    border-radius: 10px;
}

#classic-btn, 
#variation-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DEDFE1;
    border: none;
    border: 6px double #05204A;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    font-size: 1.2em;
    color: #05204A;
}

.classic-wrapper, 
.variation-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.classic-wrapper {
    margin-top: 15px;    
}

.classic:hover, 
.variation:hover, 
#classic-btn:hover, 
#variation-btn:hover {
    cursor: pointer;
    background-color: #E8E9EB;
}

.classic:active, 
.variation:active {
    background-color: #D3D4D6;
}

.classic-title, 
.variation-title {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 15px;
}

.choose {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #DEDFE1;
    border: 6px double #05204A;
    border-radius: 10px;
    margin: 10px;
}

.token {
    height: 140px;
    width: 150px;
    margin: 15px;
}

.token:hover {
    cursor: pointer;
}

.avatar {
    font-size: 3em;
    margin: 0px;
}

body, main {
    background: linear-gradient(-45deg, #000046, #417DB1, #4286C2, #386FA4);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

.hidden {
    display: none;
}